@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    APTA (Asia Pacific Tourism Association) is devoted to the tourism and hospitality research in the area of Asia Pacific.
    APTA annual conference has a tradition of interesting and productive academic  meetings in a relaxed and pleasant atmosphere,
    attracting leading researchers in a variety of fields of tourism and hospitality.      <br />
    This conference management  system is intended to provide easily manage the diffrent aspects of any conference.
</p>
