@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NIT5150 – Advanced Object Oriented Programming</h1>
    <h2>Assignment 2 – Practical Assessment</h2>
    
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Student Name</h2>
        <h3>
            Syed Rahmat Ullah Hussaini
        </h3>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>StudentID</h2>
        <h3>s4627484</h3>
    </div>
    <div class="col-md-4">
        <h2>Location</h2>
        <h3>Melbourne</h3>
    </div>
</div>